@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 14, 14, 14;
  --background-start-rgb: 14, 14, 14;
  --background-end-rgb: 14, 14, 14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 14, 14, 14;
    --background-start-rgb: 14, 14, 14;
    --background-end-rgb: 14, 14, 14;
  }
}

body {
  color: rgb(255, 255, 255);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.marquee .overlay{
  --gradient-color: transparent !important
}